﻿html, body {
    height: 100%;
    width: 100%;
    -ms-high-contrast-adjust: none;
    cursor: default;
}

body {
    /* This will set the toolbar as the top row and the grid using the remaining space */
    display: -ms-grid;
    -ms-grid-rows: auto 1fr;
    -ms-grid-columns: 1fr;
}

a {
    cursor: pointer;
}

.mainTreeGridArea {
    height: 100%;
    width: 100%;
    -ms-grid-row: 2;
    position: relative;
}

.mainArea {
    -ms-grid-row: 2;
    position: relative;
}

.container {
    position: relative;
}

#gridContainer {
    height: 100%;
    width: 100%;
}

    #gridContainer > .grid {
        border: none;
    }

#analyzeMessage {
    background: none;
    border: none;
    color: blue; /*[{plugin-link-color}]*/
    cursor: pointer;
}

    #analyzeMessage:hover, #analyzeMessage:focus {
        color: blue; /*[{plugin-link-hover-color}]*/
    }

/* Toolbar style overrides */
.toolbar-container {
    background-color: fuchsia; /*[{CommonControls-InnerTabActiveBackground-Background}]*/
    padding: 0px;
    -ms-grid-row: 1;
    -ms-grid-column-align: end;
    display: -ms-grid;
    -ms-grid-columns: auto 1fr auto auto;
}

    .toolbar-container * {
        /* 
            We turn off toolbar transitions because we don't have a way of getting the width of the 
            document before it is shown. Thus the first time our details view is switched to from 
            another tab, we go from 1px width to the actual width and all the animations fire. 
        */
        transition: none !important;
    }

.toolbar-button, .toolbar-button-disabled {
    border: none;
}

    .toolbar-button:hover {
        background-color: transparent;
        border: none;
    }

#createDetailedReportButton {
    -ms-grid-column: 2;
    -ms-grid-column-align: end;
}

.hyperlink-button {
    cursor: pointer;
    background: transparent;
    color: blue; /*[{plugin-link-color}]*/
    border-color: transparent;
}

    .limitedSpace .hyperlink-button>.button-text {
        /* We always show the text since we have no image with a hyperlink button */
        width: 100%;
    }

    .hyperlink-button:hover {
        color: blue; /*[{plugin-link-hover-color}]*/
        display: -ms-inline-grid;
        text-decoration: underline;
        border-color: transparent;
        background: transparent;
    }

.toolbar-button.hyperlink-button {
    color: blue; /*[{plugin-link-color}]*/
    cursor: pointer;
    padding-top: 5px;
    /* This is to ensure the content div can be centered */
    -ms-grid-columns: 1fr auto 1fr;
}

    .toolbar-button.hyperlink-button:hover {
        color: blue; /*[{plugin-link-hover-color}]*/
        text-decoration: underline;
        border-color: transparent;
        background: transparent;
    }

#message-overlay .toolbar-button {
    float: none;
}

.toolbar-button-disabled.hyperlink-button {
    color: grey; /*[{diagnostics-host-toolbar-text-disabled}]*/
    padding-top: 5px;
    border: transparent;
    background-color: transparent;
}

hyperlink-disabled {
    color: red; /*[{diagnostics-host-toolbar-text-disabled}]*/
    cursor: not-allowed;
}

.dropdown-button {
    display: inline-block;
    padding-top: 1px;
}

    .dropdown-button:after {
        font-family: Marlett !important;
        content: " 6"; /* 6 in Marlett font is down arrow */
        vertical-align: bottom;
    }

#enableViewButton {
    -ms-grid-column: 1;
    padding-right: 5px;
}

#filterContainer {
    -ms-grid-column: 3;
    -ms-grid-column-align: end;
    /* These values adjust the layout so the button better aligns with the other controls in the toolbar*/
    padding: 3px 0px;
}

#searchContainer {
    -ms-grid-column: 4;
    -ms-grid-column-align: end;
    /* This value adjusts the layout so the control better aligns with the other controls in the toolbar*/
    padding: 3px 0px;
}

#breakMessage {
    display: block;
}

    .breakPending > #breakMessage {
        display: none;
    }

#breakPendingMessage {
    display: none;
}

    .breakPending > #breakPendingMessage {
        display: block;
    }

/* Default element styles */

.checkboxLabel {
    color: fuchsia; /*[{CommonControls-CheckBoxText-Background}]*/
}

checkboxLabel:hover {
    color: fuchsia; /*[{CommonControls-CheckBoxTextHover-Background}]*/
}

.checkboxLabel:active {
    color: fuchsia; /*[{CommonControls-CheckBoxTextPressed-Background}]*/
}

.checkboxLabel:focus {
    color: fuchsia; /*[{CommonControls-CheckBoxTextFocused-Background}]*/
}

.checkboxLabel:disabled {
    color: fuchsia; /*[{CommonControls-CheckBoxTextDisabled-Background}]*/
}

input[type=checkbox]::-ms-check {
    border-width: 1px;
    border-style: solid;
    color: fuchsia; /*[{CommonControls-CheckBoxGlyph-Background}]*/
    background-color: aquamarine; /*[{CommonControls-CheckBoxBackground-Background}]*/
    border-color: red; /*[1px solid {CommonControls-CheckBoxBorder-Background}]*/
}

input[type=checkbox]:active::-ms-check {
    color: fuchsia; /*[{CommonControls-CheckBoxGlyphPressed-Background}]*/
    border-color: red; /*[{CommonControls-CheckBoxBorderPressed-Background}]*/
    background-color: red; /*[{CommonControls-CheckBoxBackgroundPressed-Background}]*/
}

input[type=checkbox]:focus::-ms-check {
    color: fuchsia; /*[{CommonControls-CheckBoxGlyphFocused-Background}]*/
    border-color: red; /*[{CommonControls-CheckBoxBorderFocused-Background}]*/
    background-color: red; /*[{CommonControls-CheckBoxBackgroundFocused-Background}]*/
}

input[type=checkbox]:disabled::-ms-check {
    color: fuchsia; /*[{CommonControls-CheckBoxGlyphDisabled-Background}]*/
    border-color: red; /*[{CommonControls-CheckBoxBorderDisabled-Background}]*/
    background-color: transparent; /*[{CommonControls-CheckBoxBackgroundDisabled-Background}]*/
}

button {
    border: 1px solid red; /*[1px solid {CommonControls-ButtonBorder-Background}]*/
    background-color: red; /*[{CommonControls-Button-Background}]*/
    color: black; /*[{CommonControls-Button-Foreground}]*/
    /* Reset the injected min-width from daytona. Despite the CSS spec saying the value should be 'initial', only 'auto' works for our purposes. */
    min-width: auto;
}

    button, button:active, button:hover, button:focus, button:disabled {
        background-image: none; /*This overrides a background image injected by Plugin.css*/
    }

        button:hover {
            border: 1px solid red; /*[1px solid {CommonControls-ButtonBorderHover-Background}]*/
            background-color: white; /*[{CommonControls-ButtonHover-Background}]*/
            color: black; /*[{CommonControls-ButtonHover-Foreground}]*/
        }

        button:active {
            border: 1px solid red; /*[1px solid {CommonControls-ButtonPressed-Background}]*/
            background-color: white; /*[{CommonControls-ButtonPressed-Foreground}]*/
            color: black; /*[{CommonControls-ButtonBorderPressed-Background}]*/
        }

        button:focus {
            border: 1px solid red; /*[1px solid {CommonControls-ButtonBorderFocused-Background}]*/
            background-color: white; /*[{CommonControls-ButtonFocused-Background}]*/
            color: black; /*[{CommonControls-ButtonFocused-Foreground}]*/
        }

        button:disabled {
            border: 1px solid grey; /*[1px solid {CommonControls-ButtonBorderDisabled-Background}]*/
            background-color: white; /*[{CommonControls-ButtonDisabled-Background}]*/
            color: black; /*[{CommonControls-ButtonDisabled-Foreground}]*/
        }

        /* reset the default IE button:active animation */
        button:active * {
            position: relative;
        }

/* Grid styles */
:-ms-input-placeholder {
    color: lightcyan; /*[{vs-command-search-watermark-text}]*/
}

    :-ms-input-placeholder:hover {
        color: lightcyan; /*[{SearchControl-MouseOverWatermarkText-Background}]*/
    }

.grid-row {
    height: 1.75em;
}

    .grid-row .grid-cell-virtual {
        color: red; /*[{plugin-inactive-color}]*/
    }

.grid-row-normal {
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-style: solid;
    border-color: #FAFAFA; /*[{vs-command-bar-options-background-color}]*/
}

.grid-cell-numeric {
    text-align: right;
}

.grid-header {
    background-color: #DCE0EC; /*[{vs-command-bar-gradient-begin-color}]*/
}

.grid-header-cell-numeric {
    text-align: right !important;
    width: 100%;
    padding-right: 0px !important;
}

.grid-header-canvas {
    border-bottom-color: #cccedb; /*[{diagnostics-host-grid-border}]*/
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-left: 1px;
    background-color: #DCE0EC; /*[{vs-command-bar-gradient-begin-color}]*/
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cccedb; /*[{diagnostics-host-grid-border}]*/
}

.grid-cell {
    padding-top: 1px;
    height: 100%;
    border-style: solid;
    border-right-width: 1px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-color: #FAFAFA; /*[{vs-command-bar-options-background-color}]*/
    float: left;
}

.grid-header-column {
    border-color: #FAFAFA; /*[{diagnostics-host-grid-border}]*/
    border-left-width: 0px;
    border-left-style: solid;
    background-color: #FAFAFA; /*[{vs-command-bar-gradient-begin-color}]*/
}

.grid {
    border-left-width: 0px;
    border-right-width: 0px;
}

.grid-row-selected, .grid-row-selected:hover {
    background-color: transparent !important;
}

    .grid-row-selected .grid-cell, .grid-row-selected:hover .grid-cell {
        background-color: rgb(220, 235, 252) !important; /*[{plugin-treeview-content-selected-background-color} !important]*/
    }

    .grid-row-selected .grid-cell-virtual {
        color: inherit !important;
    }

.grid-row-selected-blur {
    background-color: transparent !important;
}

    .grid-row-selected-blur .grid-cell {
        background-color: rgb(230, 230, 230); /*[{plugin-treeview-content-inactive-selected-background-color}]*/
    }

    .grid-row-selected-blur .grid-cell-virtual {
        color: inherit;
    }

.grid-row:hover {
    background-color: transparent !important;
}

    .grid-row:hover .grid-cell {
        background-color: rgb(242, 247, 253); /*[{plugin-treeview-content-inactive-selected-background-color}]*/
    }

    .grid-row:hover .grid-cell-virtual {
        color: red; /*[{plugin-inactive-color}]*/
    }

.grid-header-column > .sort-handle {
    color: black; /*[{plugin-color}]*/
}

.grid-header-column:hover > .sort-handle {
    color: rgb(0, 0, 0); /*[{plugin-treeview-content-inactive-selected-color}]*/
}
