﻿.progress-control-message {
    background-color: transparent;
    text-align: center;
    width: 100%;
    display: block;
}

#progress-control progress {
    display: block;
    margin: 5px auto;
    border: 1px solid red; /*[1px solid {ProgressBar-IndicatorFill-Background}]*/
    color: fuchsia; /*[{ProgressBar-IndicatorFill-Background}]*/
    background-color: red; /*[{ProgressBar-Background-Background}]*/
}

#progress-control progress::-ms-fill {
    border: none;
}