﻿.search-container {
    display: -ms-inline-grid;
    margin: 0px 2px;
    float: left;
}

.search-control {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    display: -ms-inline-grid;
    -ms-grid-row: 1;
    background-color: lawngreen; /*[{SearchControl-Unfocused-Background}]*/
    color: fuchsia; /*[{SearchControl-Unfocused-Foreground}]*/
    border-color: fuchsia; /*[{SearchControl-UnfocusedBorder-Background}]*/
}

    .search-control.hasFocus {
        background-color: lawngreen; /*[{SearchControl-FocusedBackground-Background}]*/
        color: fuchsia; /*[{SearchControl-FocusedBackground-Foreground}]*/
        border-color: fuchsia; /*[{SearchControl-FocusedBorder-Background}]*/
    }

    .search-control:hover {
        background-color: lawngreen; /*[{SearchControl-MouseOverBackground-Background}]*/
        color: fuchsia; /*[{SearchControl-MouseOverBackground-Foreground}]*/
        border-color: fuchsia; /*[{SearchControl-MouseOverBorder-Background}]*/
    }

.disabled > .search-control {
    background-color: lawngreen; /*[{SearchControl-Disabled-Background}]*/
    color: fuchsia; /*[{SearchControl-Disabled-Foreground}]*/
    border-color: fuchsia; /*[{SearchControl-DisabledBorder-Background}]*/
}

/*****
    INPUT CONTROL
*/

.search-control > .search-input {
    -ms-grid-column: 1;
    padding: 0px 0px 0px 3px;
    font: normal 9pt "Arial", Arial, sans-serif !important; /*[normal {plugin-font-size} {plugin-font-family} , Arial, sans-serif !important]*/
    background-color: transparent;
    border: none;
}

/*****
    ACTION BUTTON
*/

.search-control > .search-submit-button {
    height: 100%;
    padding: 0px 0px 0px 0px;
    -ms-grid-column: 2;
    -ms-grid-row-align: center;
}

    .search-control > .search-submit-button > svg {
        margin-top: 2px;
        margin-bottom: -2px;
        margin-right: 2px;
    }

    .search-control > .search-submit-button:hover {
        background-color: lawngreen; /*[{SearchControl-ActionButtonMouseOver-Background}]*/
    }

.disabled > .search-control > .search-submit-button {
    background-color: transparent;
}

    .disabled > .search-control > .search-submit-button > svg .icon-vs-bg {
        fill: fuchsia; /*[{SearchControl-ActionButtonDisabledGlyph-Background}]*/
    }

    .disabled > .search-control > .search-submit-button > svg .icon-vs-fg,
    .disabled > .search-control > .search-submit-button > svg .icon-vs-out {
        fill: transparent;
    }

/*****
    DROP-DOWN BUTTON
*/

.search-control > .dropdown-button {
    height: 100%;
    -ms-grid-column: 3;
    border-width: 0px 0px 0px 1px;
    background-color: lawngreen; /*[{SearchControl-UnfocusedDropDownButton-Background}]*/
    color: fuchsia; /*[{SearchControl-UnfocusedDropDownButtonGlyph-Background}]*/
    border-style: solid;
    border-color: fuchsia; /*[{SearchControl-UnfocusedDropDownButtonBorder-Background}]*/
}

.search-control.hasFocus > .dropdown-button {
    background-color: lawngreen; /*[{SearchControl-FocusedDropDownButton-Background}]*/
    color: fuchsia; /*[{SearchControl-FocusedDropDownButtonGlyph-Background}]*/
    border-color: fuchsia; /*[{SearchControl-FocusedDropDownButtonBorder-Background}]*/
}

.search-control > .dropdown-button:hover {
    background-color: lawngreen; /*[{SearchControl-MouseOverDropDownButton-Background}]*/
    color: fuchsia; /*[{SearchControl-MouseOverDropDownButtonGlyph-Background}]*/
    border-color: fuchsia; /*[{SearchControl-MouseOverDropDownButtonBorder-Background}]*/
}

.search-control > .dropdown-button:active {
    background-color: lawngreen; /*[{SearchControl-MouseDownDropDownButton-Background}]*/
    color: fuchsia; /*[{SearchControl-MouseDownDropDownButtonGlyph-Background}]*/
    border-color: fuchsia; /*[{SearchControl-MouseDownDropDownButtonBorder-Background}]*/
}

.disabled > .search-control > .dropdown-button {
    background-color: transparent;
    color: fuchsia; /*[{SearchControl-DisabledDownButtonGlyph-Background}]*/
    border-color: transparent;
}

/*****
    OPTIONS FLYOUT
*/

#searchOptionsFlyout {
    position: absolute;
    -ms-grid-row: 2;
    overflow: auto;
    display: none;
    z-index: 9999;
    border: 1px solid red; /*[1px solid {SearchControl-PopupBorder-Background}]*/
    background-color: aquamarine; /*[{SearchControl-PopupItemsListBackgroundGradientBegin-Background}]*/
    color: fuchsia; /*[{SearchControl-PopupItemText-Background}]*/
}

    #searchOptionsFlyout.flyoutActive {
        display: -ms-grid;
    }

    #searchOptionsFlyout > * {
        display: block;
        padding: 2px 8px 2px 2px;
    }

    #searchOptionsFlyout > .flyoutHeader {
        -ms-grid-row: 1;
        padding-left: 4px;
        color: fuchsia; /*[{SearchControl-PopupSectionHeaderText-Background}]*/
    }

    #searchOptionsFlyout > .regExSetting {
        -ms-grid-row: 2;
    }

        #searchOptionsFlyout > .regExSetting.hasFocus {
            background-color: aquamarine; /*[{SearchControl-PopupControlMouseOverBackgroundGradientBegin-Background}]*/
        }

    #searchOptionsFlyout > .caseSensitiveSetting {
        -ms-grid-row: 3;
    }

        #searchOptionsFlyout > .caseSensitiveSetting.hasFocus {
            background-color: aquamarine; /*[{SearchControl-PopupControlMouseOverBackgroundGradientBegin-Background}]*/
        }
