﻿/* Grid Container */
.treeGridContainer {
    position: relative;
    width: 100%;
    height: 100%;
    /* TODO - This should be extended to everything on the DOM once we have the new grid in both scenarios */
    box-sizing: content-box;
}

/* Grid */
.treeGridContainer table {
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;
}

.treeGridContainer th, .treeGridContainer td {
    border: 1px solid purple; /*[1px solid {vs-command-bar-options-background-color}]*/
    padding: 1px 4px;
}

/* Grid Header */
.treeGridContainer .treeGridHeader {
    position: absolute;
    overflow: hidden;
    background-color: chartreuse; /*[{vs-command-bar-gradient-begin-color}]*/
    padding-left: 0px;
    padding-right: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
}

.treeGridContainer .treeGridBody {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: auto;
}

.treeGridContainer .treeGridBody thead {
    visibility: hidden;
}

.treeGridContainer thead td {
    position: relative;
    min-width: 20px;
    width: 150px;
    padding: 4px;
    text-align: right;
    vertical-align: middle;
    color: chartreuse; /*[{plugin-color}]*/
    border-color: purple; /*[{diagnostics-host-grid-border}]*/
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    text-overflow: ellipsis;
}

.treeGridContainer thead td:hover {
    background-color: chartreuse; /*[{vs-command-bar-mouse-over-background-begin-color}]*/
    color: chartreuse; /*[{plugin-treeview-content-inactive-selected-color}]*/
}

/* Grid Rows */
.treeGridContainer tbody td {
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.treeGridContainer .treeGridRow-expander {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
    background: url("./BptDiagnosticCommon/icons/itemCollapsedIcon.png") no-repeat 0px 0px; /*[ url({vs-image-icon-tree-collapsed}) no-repeat 0px 0px]*/
    background-position-x: center;
    background-position-y: center;
    background-size: 70%;
}

    .treeGridContainer .treeGridRow-expander.expanded {
        background: url("./BptDiagnosticCommon/icons/itemExpandedIcon.png") no-repeat 0px 0px; /*[ url({vs-image-icon-tree-expanded}) no-repeat 0px 0px]*/
        background-position-x: center;
        background-position-y: center;
        background-size: 60%;
    }

.treeGridContainer .treeGridRow:hover {
    color: chartreuse; /*[{plugin-treeview-content-inactive-selected-color}]*/
    background-color: chartreuse; /*[{plugin-treeview-content-inactive-selected-background-color}]*/
}

.treeGridContainer .treeGridRow.selected {
    color: chartreuse; /*[{plugin-treeview-content-selected-color}]*/
    background-color: chartreuse; /*[{plugin-treeview-content-selected-background-color}]*/
}

/* Sortable */
.treeGridContainer .sortAsc:after {
    font-family: Marlett;
    content: "5"; /* With Marlett font this will be an up arrow */
    vertical-align: middle;
}

.treeGridContainer .sortDesc:after {
    font-family: Marlett;
    content: "6"; /* With Marlett font this will be a down arrow */
    vertical-align: middle;
}

/* Column Resizer */
.treeGridContainer .columnResizer {
    position: absolute;
    display: inline-block;
    cursor: col-resize;
    padding: 4px 0px;
    height: 100%;
    top: 0px;
    z-index: 10;
}

    .treeGridContainer .columnResizer:after {
        /* This adds a nbsp so that the resizer is rendered */
        content: "\00a0";
    }

/* Column hiding */
.treeGridContainer.hide1 tr td:nth-child(1) {
    display: none;
}

.treeGridContainer.hide2 tr td:nth-child(2) {
    display: none;
}

.treeGridContainer.hide3 tr td:nth-child(3) {
    display: none;
}

.treeGridContainer.hide4 tr td:nth-child(4) {
    display: none;
}

.treeGridContainer.hide5 tr td:nth-child(5) {
    display: none;
}

.treeGridContainer.hide6 tr td:nth-child(6) {
    display: none;
}

/* Column Specific styles */
.treeGridContainer .name {
    text-align: left;
}

.treeGridContainer .name > span {
    text-overflow: ellipsis;
}

.treeGridContainer .module {
    text-align: left;
}