﻿* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -ms-user-select: none;
    user-select: none;
    color: black; /*[{plugin-color}]*/
    font-size: 9pt; /*[{plugin-font-size}]*/
    font-family: "Segoe UI", Arial, sans-serif; /*[{plugin-font-family} , Arial, sans-serif]*/
    background-color: transparent; /*[{plugin-background-color}]*/
}

html, body {
    height: 100%;
    width: 100%;
    cursor: default;
}

.overlay-div {
    width: 100%;
    height: 100%;
}

.center-div-top {
    height: 50%;
}

.center-div-bottom {
    height: 50%;
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

a:link {
    text-decoration:none;
    color: lightblue; /*[{diagnostics-information-link-foreground}]*/
    background-color: transparent;
}

a:visited {
    text-decoration: none;
    color: lightblue; /*[{diagnostics-information-link-foreground}]*/
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
    color: lightblue; /*[{diagnostics-information-link-foreground-hover}]*/
    background-color: transparent;
}

a:active {
    text-decoration: none;
    color: lightblue; /*[{diagnostics-information-link-foreground-pressed}]*/
    background-color: transparent;
}
