﻿* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -ms-user-select: none;
    user-select: none;
    color: black; /*[{plugin-color}]*/
    font-size: 9pt; /*[{plugin-font-size}]*/
    font-family: "Segoe UI", Arial, sans-serif; /*[{plugin-font-family} , Arial, sans-serif]*/
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: transparent; /*[{plugin-background-color}]*/
}

html, body {
    -ms-high-contrast-adjust: none;
    cursor: default;
}

.fullsizeOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Common styles and controls */
.dropdown-button:after {
    font-family: Marlett !important;
    content: " 6"; /* 6 in Marlett font is down arrow */
    vertical-align: bottom;
}

/* reset the default IE button:active animation */
button:active * {
    position: relative;
}

/* reset the injected min-width from daytona. Despite the CSS spec saying the value should be 'initial', only 'auto' works for our purposes. */
button {
    min-width: auto;
}
